.DS_Store
.vagrant
.gradle
MANIFEST.MF
jmeter.log

.settings/
.project
bin/
deploy/
target/
build/
node_modules/
dist/
tmp/

modules/*/out/
modules/*/build/
modules/*/*/*/build/
modules/*/*/*/out/

testoutput/
modules/*/out/
modules/*/build/
modules/*/*/*/build/
modules/*/*/*/out/

.metadata
.classpath
*.jar
*.class
*.iml
.idea/
*coverage*.log

log4j_dev.xml

# Maven project
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar